*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    color: #171736;
}
html, body, .cadre
{
    width: 100%;
    height: 100%;
    background-color: #f3f3f7;
}
.header
{
    width: 100%;
    height: 15%;
    display: flex;
    padding: 15px;
    align-items: center;
}
.profil-pic
{
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ffffff;
}
.pseudo
{
    margin-left: 15px;
    font-size: 1.8em;
}
.content
{
    width: 100%;
    padding: 15px;
}
.title, .title2
{
    font-size: 1.5em;
}
.title2
{
    margin-top: 20px;
}
.link
{
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 15px;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.15s;
}
.link:hover
{
    background-color: #ffffff8f;
}
a
{
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
}
a > img
{
    width: 100%;
}